aiosqlite @ file:///D:/Work/%E6%96%87%E4%BB%B6/%E5%A4%A7%E6%95%B0%E6%8D%AE%E8%A1%8C%E4%B8%9A%E9%83%A8%E7%BD%B2%E5%AE%9E%E6%88%98/%E8%BD%AF%E4%BB%B6%E5%8C%85/aiosqlite-0.20.0-py3-none-any.whl#sha256=36a1deaca0cac40ebe32aac9977a6e2bbc7f5189f23f4a54d5908986729e5bd6
albucore==0.0.23
albumentations==2.0.5
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.4
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
bs4==0.0.2
build==1.2.2.post1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.0
cssselect==1.2.0
cycler==0.12.1
Cython==3.0.12
databases @ file:///D:/Work/%E6%96%87%E4%BB%B6/%E5%A4%A7%E6%95%B0%E6%8D%AE%E8%A1%8C%E4%B8%9A%E9%83%A8%E7%BD%B2%E5%AE%9E%E6%88%98/%E8%BD%AF%E4%BB%B6%E5%8C%85/databases-0.9.0-py3-none-any.whl#sha256=9ee657c9863b34f8d3a06c06eafbe1bda68af2a434b56996312edf1f1c0b6297
DataRecorder==3.6.2
debugpy==1.8.12
decorator==5.2.0
defusedxml==0.7.1
distro==1.9.0
Django==5.1.3
django-cors-headers==4.6.0
django-extensions==3.2.3
django-sslserver==0.22
docopt==0.6.2
DownloadKit==2.0.7
DrissionPage==4.1.0.17
easyocr==1.7.2
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.16.1
fire==0.7.0
fonttools==4.55.2
fqdn==1.5.1
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
imutils==0.5.4
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lmdb==1.6.2
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.9.3
matplotlib-inline==0.1.7
mistune==3.1.2
MouseInfo==0.1.3
mpmath==1.3.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
notebook==7.3.2
notebook_shim==0.2.4
numpy==2.1.3
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-nvrtc-cu12==12.6.85
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==9.1.1.17
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nvjitlink-cu12==12.6.85
openai==1.64.0
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
overrides==7.7.0
packaging==24.2
paddleocr==2.10.0
paddlepaddle==2.6.2
paddlepaddle-gpu==3.0.0rc1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pefile==2023.2.7
pillow==11.0.0
pip-tools==7.4.1
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==3.20.2
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyHDFS==0.3.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyOpenSSL==24.3.0
pyparsing==3.2.0
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==1.0.1
pyspark==3.0.0
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-json-logger==3.2.1
pytweening==1.2.0
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.12.2
referencing==0.36.2
requests==2.32.3
requests-file==2.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.23.1
rtdata @ file:///D:/Work/%E6%96%87%E4%BB%B6/%E5%A4%A7%E6%95%B0%E6%8D%AE%E8%A1%8C%E4%B8%9A%E9%83%A8%E7%BD%B2%E5%AE%9E%E6%88%98/%E8%BD%AF%E4%BB%B6%E5%8C%85/rtdata-0.0.1-cp311-cp311-win_amd64.whl#sha256=45b0c29c8033e92dfd98563391d41f5377dbe78a452f033fcbad2210bf5e108a
scikit-image==0.25.2
scipy==1.14.1
seaborn==0.13.2
Send2Trash==1.8.3
shapely==2.0.7
simplejson==3.19.3
simsimd==6.2.1
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy @ file:///D:/Work/%E6%96%87%E4%BB%B6/%E5%A4%A7%E6%95%B0%E6%8D%AE%E8%A1%8C%E4%B8%9A%E9%83%A8%E7%BD%B2%E5%AE%9E%E6%88%98/%E8%BD%AF%E4%BB%B6%E5%8C%85/SQLAlchemy-2.0.36-cp311-cp311-win_amd64.whl#sha256=23623166bfefe1487d81b698c423f8678e80df8b54614c2bf4b4cfcd7c711959
sqlparse==0.5.2
stack-data==0.6.3
stringzilla==3.12.3
sympy==1.13.1
termcolor==2.5.0
terminado==0.18.1
tifffile==2025.2.18
tinycss2==1.4.0
tldextract==5.1.3
torch==2.6.0
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
tushare==1.4.19
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.48
ultralytics-thop==2.0.13
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
x_com_lib @ file:///D:/Work/%E6%96%87%E4%BB%B6/%E5%A4%A7%E6%95%B0%E6%8D%AE%E8%A1%8C%E4%B8%9A%E9%83%A8%E7%BD%B2%E5%AE%9E%E6%88%98/%E8%BD%AF%E4%BB%B6%E5%8C%85/x_com_lib-0.1.10-cp311-none-win_amd64.whl#sha256=44cb088811f554e8a0e9ef27110d8ed9c047feb2589cc45dc4668626235e19b6
